In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

%matplotlib inline

## 1. Data Exploration

In [2]:
test = pd.read_csv ('data-by-modzcta.csv', delimiter =',') # COVID-19 cases per Zip Code, NYC Heatlh Data (2020, updated Jun 23,2020) 
income = pd.read_csv ('Income 2018.csv') # Median Income per Zip Code in NYC, U.S. Census Bureau (2014-2018)
population = pd.read_excel ("Population.xlsx") # Population Counts per Zip Code, U.S. Census Bureau (2014-2018)
tract_zip = pd.read_excel ('TRACT_ZIP.xlsx') # Allocate Tract Census to Zip Code, HUD’s Office of Policy Development and Research ZIP Code Crosswalk 
svi= pd.read_csv ('Vul.csv') # Social Vulnerability Index per Tract Census Level, Agency for Toxic Substances and Disease Registry (2018)
health = pd.read_excel ("Chronic_Health.xlsx") # Underlying health conditions, Centers of Disease Control and Prevention (2015)

### 1.1 Test

In [3]:
test.head()

,MODIFIED_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774

print('Data shape: ', test.shape)

In [4]:
test.info()
test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 10 columns):
MODIFIED_ZCTA        177 non-null int64
NEIGHBORHOOD_NAME    177 non-null object
BOROUGH_GROUP        177 non-null object
COVID_CASE_COUNT     177 non-null int64
COVID_CASE_RATE      177 non-null float64
POP_DENOMINATOR      177 non-null float64
COVID_DEATH_COUNT    177 non-null int64
COVID_DEATH_RATE     177 non-null float64
PERCENT_POSITIVE     177 non-null float64
TOTAL_COVID_TESTS    177 non-null int64
dtypes: float64(4), int64(4), object(2)
memory usage: 13.9+ KB

,MODIFIED_ZCTA,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,10810.378531,1145.581921,2338.201073,47425.734237,99.175141,193.888079,19.102655,5709.327684
std,578.173317,817.013106,890.505867,26411.133886,79.724582,105.136590,5.937915,3351.279829
min,10001.000000,26.000000,582.200000,3457.770000,0.000000,0.000000,7.150000,347.000000
25%,10301.000000,535.000000,1654.400000,26614.420000,38.000000,121.560000,15.140000,3157.000000
50%,11109.000000,902.000000,2411.110000,43030.430000,78.000000,182.630000,20.150000,5123.000000
75%,11361.000000,1637.000000,2962.490000,67089.290000,148.000000,242.660000,24.080000,7845.000000
max,11697.000000,4679.000000,4489.580000,111594.100000,407.000000,660.580000,29.010000,16826.000000

### 1.2 Income

In [5]:
income.head()

          geoid  Zip_Code  Median_Income
0  86000US07421      7421          92274
1  86000US10001     10001          88526
2  86000US10002     10002          35859
3  86000US10003     10003         112131
4  86000US10004     10004         157645

In [6]:
print('Data shape: ', income.shape)

Data shape:  (1646, 3)

In [7]:
income.info()
income.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 3 columns):
geoid            1646 non-null object
Zip_Code         1646 non-null int64
Median_Income    1646 non-null int64
dtypes: int64(2), object(1)
memory usage: 38.7+ KB

           Zip_Code  Median_Income
count   1646.000000    1646.000000
mean   12746.985419   70733.653098
std     1325.165010   31242.076564
min     7421.000000   15089.000000
25%    11771.250000   51173.750000
50%    12837.500000   61690.500000
75%    13783.750000   82067.250000
max    14905.000000  250001.000000

### 1.3 Population

In [8]:
population.head()

  Zip_Code  Population
0    11368      112425
1    11385      106717
2    10467      103732
3    11211      102624
4    11236      100331

In [9]:
population.info()
population.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1753 entries, 0 to 1750
Data columns (total 2 columns):
Zip_Code      1753 non-null object
Population    1753 non-null int64
dtypes: int64(1), object(1)
memory usage: 41.1+ KB

          Population
count    1753.000000
mean    11175.559612
std     17907.810072
min         5.000000
25%       925.000000
50%      3189.000000
75%     12985.000000
max    112425.000000

### 1.4 Tract_Zip

In [10]:
tract_zip.head()

        TRACT    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  1001020100  36067   1.000000   1.000000   1.000000   1.000000
1  1001020200  36067   1.000000   1.000000   1.000000   1.000000
2  1001020300  36067   1.000000   1.000000   1.000000   1.000000
3  1001020400  36066   0.979601   0.488506   0.945205   0.943742
4  1001020400  36067   0.020399   0.511494   0.054795   0.056258

In [11]:
tract_zip.info()
tract_zip.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172121 entries, 0 to 172120
Data columns (total 6 columns):
TRACT        172121 non-null int64
ZIP          172121 non-null int64
RES_RATIO    172121 non-null float64
BUS_RATIO    172121 non-null float64
OTH_RATIO    172121 non-null float64
TOT_RATIO    172121 non-null float64
dtypes: float64(4), int64(2)
memory usage: 7.9 MB

,TRACT,ZIP,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
count,1.721210e+05,172121.000000,172121.000000,172121.000000,172121.000000,172121.000000
mean,2.908298e+10,49384.923751,0.425561,0.425137,0.415179,0.426833
std,1.606759e+10,28248.936890,0.409935,0.411306,0.432812,0.406995
min,1.001020e+09,501.000000,0.000000,0.000000,0.000000,0.000020
25%,1.701900e+10,27260.000000,0.023320,0.019139,0.000000,0.028457
50%,2.909502e+10,47703.000000,0.270348,0.271186,0.200000,0.275035
75%,4.202701e+10,74538.000000,0.950839,0.935714,0.981982,0.940693
max,7.803096e+10,99929.000000,1.000000,1.000000,1.000000,1.000000

### 1.5 SVI

In [12]:
svi.head()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,36,NEW YORK,NY,36001,Albany,36001000100,"Census Tract 1, Albany County, New York",0.914079,2022,218,...,0,0,0,0,2,128,57,6.3,2.8,3031
1,36,NEW YORK,NY,36001,Albany,36001000200,"Census Tract 2, Albany County, New York",0.797363,4700,690,...,0,0,0,0,2,595,362,12.7,7.4,4806
2,36,NEW YORK,NY,36001,Albany,36001000300,"Census Tract 3, Albany County, New York",2.227566,5966,741,...,0,0,0,0,0,507,345,8.8,6.2,14210
3,36,NEW YORK,NY,36001,Albany,36001000401,"Census Tract 4.01, Albany County, New York",3.500329,2479,263,...,0,0,1,1,3,119,91,5.9,4.5,9449
4,36,NEW YORK,NY,36001,Albany,36001000403,"Census Tract 4.03, Albany County, New York",1.211858,4236,365,...,0,0,0,0,0,133,104,3.1,2.5,11514

In [13]:
svi.info()
svi.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Columns: 124 entries, ST to E_DAYPOP
dtypes: float64(56), int64(64), object(4)
memory usage: 4.6+ MB

,ST,STCNTY,FIPS,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
count,4906.0,4906.000000,4.906000e+03,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,...,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000
mean,36.0,36061.508765,3.606163e+10,9.605263,3998.869344,351.565634,1689.173869,72.625764,1491.344680,99.151855,...,-11.101101,-15.988993,-11.102120,-15.601508,-15.856095,255.843457,130.331839,-6.380330,-9.334896,3235.423971
std,0.0,31.473219,3.149186e+07,33.011019,1953.468080,201.703026,929.042055,44.893470,819.963198,54.056149,...,105.202053,125.770489,105.201941,125.821826,130.572782,253.306426,98.318743,113.332141,112.970727,2928.504477
min,36.0,36001.000000,3.600100e+10,0.000000,0.000000,3.000000,0.000000,3.000000,0.000000,3.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.000000,3.000000,-999.000000,-999.000000,-999.000000
25%,36.0,36047.000000,3.604702e+10,0.076284,2608.500000,225.000000,1101.250000,42.000000,958.000000,65.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,98.000000,63.250000,3.000000,1.900000,1597.000000
50%,36.0,36061.000000,3.606101e+10,0.428806,3766.000000,316.000000,1570.500000,62.000000,1392.000000,90.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,185.000000,104.000000,5.300000,3.000000,2513.500000
75%,36.0,36081.000000,3.608110e+10,2.288182,5090.750000,448.000000,2127.000000,92.000000,1888.750000,121.000000,...,0.000000,0.000000,0.000000,1.000000,2.000000,319.000000,168.000000,8.600000,4.300000,3977.250000
max,36.0,36123.000000,3.612315e+10,705.914117,28272.000000,2017.000000,13028.000000,384.000000,12827.000000,656.000000,...,1.000000,1.000000,1.000000,4.000000,11.000000,3135.000000,1195.000000,53.200000,100.000000,56670.000000

### 1.6 Health

In [14]:
health.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36047084600,Stroke among adults aged >=18 Years,%,...,4.8,NaN,NaN,1963,"(40.6422850405, -73.9274549269)",HLTHOUT,STROKE,3651000,3.604708e+10,Stroke
1,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36085013204,Arthritis among adults aged >=18 Years,%,...,28.5,NaN,NaN,4843,"(40.5594209197, -74.1302415981)",HLTHOUT,ARTHRITIS,3651000,3.608501e+10,Arthritis
2,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36081064102,Arthritis among adults aged >=18 Years,%,...,31.2,NaN,NaN,113,"(40.7021026632, -73.8534755061)",HLTHOUT,ARTHRITIS,3651000,3.608106e+10,Arthritis
3,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36005006300,High blood pressure among adults aged >=18 Years,%,...,33.6,NaN,NaN,5280,"(40.8238904859, -73.9282929536)",HLTHOUT,BPHIGH,3651000,3.600501e+10,High Blood Pressure
4,2017,NY,New York,New York,Census Tract,BRFSS,Unhealthy Behaviors,3651000-36085017009,Binge drinking among adults aged >=18 Years,%,...,20.6,NaN,NaN,4299,"(40.5432028659, -74.1898281432)",UNHBEH,BINGE,3651000,3.608502e+10,Binge Drinking

In [15]:
health.info()
health.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59911 entries, 0 to 59910
Data columns (total 24 columns):
Year                          59911 non-null int64
StateAbbr                     59911 non-null object
StateDesc                     59911 non-null object
CityName                      59911 non-null object
GeographicLevel               59911 non-null object
DataSource                    59911 non-null object
Category                      59911 non-null object
UniqueID                      59911 non-null object
Measure                       59911 non-null object
Data_Value_Unit               59911 non-null object
DataValueTypeID               59911 non-null object
Data_Value_Type               59911 non-null object
Data_Value                    59320 non-null float64
Low_Confidence_Limit          59320 non-null float64
High_Confidence_Limit         59320 non-null float64
Data_Value_Footnote_Symbol    591 non-null object
Data_Value_Footnote           591 non-null object
PopulationCount               59911 non-null int64
GeoLocation                   59911 non-null object
CategoryID                    59911 non-null object
MeasureId                     59911 non-null object
CityFIPS                      59911 non-null int64
TractFIPS                     59855 non-null float64
Short_Question_Text           59911 non-null object
dtypes: float64(4), int64(3), object(17)
memory usage: 11.0+ MB

,Year,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount,CityFIPS,TractFIPS
count,59911.000000,59320.000000,59320.000000,59320.000000,5.991100e+04,59911.0,5.985500e+04
mean,2016.715044,31.448667,29.779585,33.136017,1.146215e+04,3651000.0,3.605465e+10
std,0.451397,26.869856,26.495198,27.205392,2.497175e+05,0.0,2.593890e+07
min,2016.000000,0.600000,0.500000,0.600000,1.000000e+00,3651000.0,3.600500e+10
25%,2016.000000,10.400000,9.000000,11.700000,2.303000e+03,3651000.0,3.604703e+10
50%,2017.000000,21.400000,19.100000,23.800000,3.461000e+03,3651000.0,3.604712e+10
75%,2017.000000,47.000000,44.600000,49.400000,4.864000e+03,3651000.0,3.608103e+10
max,2017.000000,94.700000,93.700000,95.600000,8.175133e+06,3651000.0,3.608503e+10

## 2. Data Preparation

In [16]:
# Rename MODIFIED_ZCTA column to Zip_Code in Test file
test = test.rename(columns={'MODIFIED_ZCTA': 'Zip_Code'})

In [17]:
# Merge Test and Income files
df_merge = pd.merge(test, income, on='Zip_Code')
df_merge.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333

In [18]:
#Convert Zip_Code type from object to integer in Population file
convert_dict = {'Zip_Code': float, 
               } 
  
population = population.astype(convert_dict) 
print(population.dtypes)

Zip_Code      float64
Population      int64
dtype: object

In [19]:
# Merge Population file with Merge file 
df_merge = pd.merge (df_merge, population, on='Zip_Code')

In [20]:
df_merge.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,Population
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526,22924
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859,74993
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131,54682
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645,3028
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333,8831

In [21]:
# Rename ZIP Column to Zip_Code in Tract_Zip file
tract_zip = tract_zip.rename(columns={'ZIP': 'Zip_Code'})

In [22]:
# Merge Tract_Zip file with Merge file
df = pd.merge(df_merge, tract_zip[['TRACT','Zip_Code']], on= 'Zip_Code', how= 'left')
df.head(10)

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,Population,TRACT
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061005600
1,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061005800
2,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061007100
3,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061007600
4,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061008400
5,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061009100
6,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061009300
7,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061009500
8,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061009700
9,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,22924,36061009900

In [23]:
# Rename FIPS column to TRACT in SVI file
svi = svi.rename(columns={'FIPS': 'TRACT'})

In [24]:
# Merge SVI file with Merge file
df_final = pd.merge(df, svi[['TRACT','E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65','E_DISABL','E_SNGPNT','E_MINRTY','E_LIMENG','E_MUNIT'
,'E_MOBILE'
,'E_CROWD'
,'E_NOVEH'
,'E_GROUPQ'
]], on= 'TRACT', how= 'left')

In [25]:
# Prepare data for Health file
health_pivot= health.pivot(columns='Short_Question_Text', values = 'Data_Value')

In [26]:
health_pivot1 = health_pivot[['COPD','Coronary Heart Disease','Diabetes','High Blood Pressure','Obesity','Chronic Kidney Disease']]

In [27]:
health1 = health[['PopulationCount',
       'GeoLocation','CityFIPS', 'TractFIPS',
       'Short_Question_Text']]

In [28]:
health_sorted = pd.merge(health1, health_pivot1, left_index=True, right_index=True)

In [29]:
health_sorted.head()

,PopulationCount,GeoLocation,CityFIPS,TractFIPS,Short_Question_Text,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,Chronic Kidney Disease
0,1963,"(40.6422850405, -73.9274549269)",3651000,3.604708e+10,Stroke,NaN,NaN,NaN,NaN,NaN,NaN
1,4843,"(40.5594209197, -74.1302415981)",3651000,3.608501e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,NaN
2,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,NaN
3,5280,"(40.8238904859, -73.9282929536)",3651000,3.600501e+10,High Blood Pressure,NaN,NaN,NaN,32.5,NaN,NaN
4,4299,"(40.5432028659, -74.1898281432)",3651000,3.608502e+10,Binge Drinking,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#Convert % data to count in Health file
chronic_heatlh = ['COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease']

for i in chronic_heatlh:
    count_i = 'count' + i
    health_sorted[count_i] = (health_sorted['PopulationCount']*health_sorted[i]) / 100

In [31]:
# Rename FIPS column to TRACT in Health file
health_sorted = health_sorted.rename(columns={'TractFIPS': 'TRACT'})

In [32]:
# Merge All DATA based on Tract Census
df_final = pd.merge(health_sorted,df_final,on='TRACT', how='left')

In [33]:
df_final.head()

,PopulationCount,GeoLocation,CityFIPS,TRACT,Short_Question_Text,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,...,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,E_MOBILE,E_CROWD,E_NOVEH,E_GROUPQ
0,1963,"(40.6422850405, -73.9274549269)",3651000,3.604708e+10,Stroke,NaN,NaN,NaN,NaN,NaN,...,406.0,141.0,127.0,1890.0,41.0,0.0,25.0,37.0,166.0,6.0
1,4843,"(40.5594209197, -74.1302415981)",3651000,3.608501e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,855.0,450.0,30.0,668.0,126.0,93.0,0.0,36.0,226.0,12.0
2,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5280,"(40.8238904859, -73.9282929536)",3651000,3.600501e+10,High Blood Pressure,NaN,NaN,NaN,32.5,NaN,...,412.0,913.0,325.0,4133.0,790.0,1735.0,0.0,148.0,1321.0,54.0

In [34]:
df_final.columns

Index(['PopulationCount', 'GeoLocation', 'CityFIPS', 'TRACT',
       'Short_Question_Text', 'COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease', 'countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease', 'Zip_Code', 'NEIGHBORHOOD_NAME',
       'BOROUGH_GROUP', 'COVID_CASE_COUNT', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_COUNT', 'COVID_DEATH_RATE',
       'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS', 'geoid', 'Median_Income',
       'Population', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ'],
      dtype='object')

In [35]:
# Group the estimates by Zip Code from SVI file
df_vul= [['E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65',
       'E_DISABL', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE',
       'E_CROWD', 'E_NOVEH', 'E_GROUPQ']]

for i in df_vul:
    sum_svi = df_final.groupby('Zip_Code')[i].sum().reset_index()

In [36]:
sum_svi.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,E_MOBILE,E_CROWD,E_NOVEH,E_GROUPQ
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,896.0,30072.0,700336.0,53732.0
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,700.0,84784.0,886928.0,53788.0
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,0.0,39424.0,821968.0,315364.0
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,0.0,34188.0,287924.0,588.0
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,700.0,25452.0,202328.0,16240.0

In [37]:
#Merge calculated estimation of SVI with Merge file
df1 = pd.merge(sum_svi, df_merge, on='Zip_Code')

In [38]:
df1.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,Population
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526,22924
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859,74993
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131,54682
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645,3028
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333,8831

In [39]:
df1.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'Population'],
      dtype='object')

In [40]:
df_final.columns

Index(['PopulationCount', 'GeoLocation', 'CityFIPS', 'TRACT',
       'Short_Question_Text', 'COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease', 'countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease', 'Zip_Code', 'NEIGHBORHOOD_NAME',
       'BOROUGH_GROUP', 'COVID_CASE_COUNT', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_COUNT', 'COVID_DEATH_RATE',
       'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS', 'geoid', 'Median_Income',
       'Population', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ'],
      dtype='object')

In [41]:
# Group the count by Zip Code from Health file

df_chronic_heatlh = [['countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease']]
for i in df_chronic_heatlh:
    sum_health = df_final.groupby('Zip_Code')[i].sum().reset_index()

In [42]:
sum_health.head()

,Zip_Code,countCOPD,countCoronary Heart Disease,countDiabetes,countHigh Blood Pressure,countObesity,countChronic Kidney Disease
0,10001.0,1663.711,1775.003,2870.399,9513.248,7120.635,990.075
1,10002.0,5561.996,6309.078,12727.287,26744.597,15356.364,3359.806
2,10003.0,2282.417,2292.698,3515.833,13022.208,10161.387,1336.878
3,10004.0,326.023,286.879,548.126,2218.680,2222.452,220.274
4,10005.0,255.042,174.924,339.448,1512.843,1829.027,156.415

In [43]:
# Rename columns in Health file
sum_health = sum_health.rename(columns={'countCOPD': 'COPD', 'countCoronary Heart Disease': 'Coronary Heart Disease',
                                       'countDiabetes': 'Diabetes', 'countHigh Blood Pressure': 'High Blood Pressure',
                                       'countObesity': 'Obesity', 'countChronic Kidney Disease': 'Chronic Kidney Disease'})

In [44]:
# Merge ALL DATA based on Zip Code level
df2 = pd.merge(df1,sum_health,on='Zip_Code', how='left')

In [45]:
df2.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,TOTAL_COVID_TESTS,geoid,Median_Income,Population,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,Chronic Kidney Disease
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,3372,86000US10001,88526,22924,1663.711,1775.003,2870.399,9513.248,7120.635,990.075
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,6803,86000US10002,35859,74993,5561.996,6309.078,12727.287,26744.597,15356.364,3359.806
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,5316,86000US10003,112131,54682,2282.417,2292.698,3515.833,13022.208,10161.387,1336.878
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,347,86000US10004,157645,3028,326.023,286.879,548.126,2218.680,2222.452,220.274
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,774,86000US10005,173333,8831,255.042,174.924,339.448,1512.843,1829.027,156.415

In [46]:
# Take Log of skewered Median_Income to smooth it out
df2['Log_Median_Income'] = np.log(df2['Median_Income'])

In [47]:
# Normalize the columns for 100,000 per Zip_Code
health_svi = df2[['E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65',
       'E_DISABL', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE',
       'E_CROWD', 'E_NOVEH', 'E_GROUPQ','COPD','Coronary Heart Disease','Diabetes','High Blood Pressure','Obesity','Chronic Kidney Disease']]

for i in health_svi:
    i_rate = i + "_rate"
    rate = 10000
    df2[i_rate] = rate*df2[i] / df2['Population']

In [48]:
df2.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,E_MOBILE_rate,E_CROWD_rate,E_NOVEH_rate,E_GROUPQ_rate,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,390.856744,13118.129471,305503.402548,23439.190368,725.750742,774.298988,1252.137062,4149.907521,3106.192200,431.894521
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,93.342045,11305.588522,118268.105023,7172.402758,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,0.000000,7209.685088,150317.837680,57672.360192,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,0.000000,112906.208719,950871.862616,1941.875826,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,792.662213,28821.198052,229111.085947,18389.763334,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371

In [49]:
df2.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'Population', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease', 'Log_Median_Income', 'E_POV_rate',
       'E_UNEMP_rate', 'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate',
       'E_SNGPNT_rate', 'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate',
       'E_MOBILE_rate', 'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate',
       'COPD_rate', 'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate'],
      dtype='object')

In [50]:
# Drop these columns
df3 = df2.drop(['E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL', 'E_SNGPNT', 'E_MINRTY',
       'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD', 'E_NOVEH', 'E_GROUPQ','COVID_CASE_COUNT',
        'COVID_DEATH_COUNT', 'TOTAL_COVID_TESTS','Median_Income', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease'], axis=1)

In [51]:
df3.columns

Index(['Zip_Code', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE', 'geoid',
       'Population', 'Log_Median_Income', 'E_POV_rate', 'E_UNEMP_rate',
       'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate', 'E_SNGPNT_rate',
       'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate', 'E_MOBILE_rate',
       'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate', 'COPD_rate',
       'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate'],
      dtype='object')

In [53]:
df3.info()
df3.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 29 columns):
Zip_Code                       177 non-null float64
NEIGHBORHOOD_NAME              177 non-null object
BOROUGH_GROUP                  177 non-null object
COVID_CASE_RATE                177 non-null float64
POP_DENOMINATOR                177 non-null float64
COVID_DEATH_RATE               177 non-null float64
PERCENT_POSITIVE               177 non-null float64
geoid                          177 non-null object
Population                     177 non-null int64
Log_Median_Income              177 non-null float64
E_POV_rate                     177 non-null float64
E_UNEMP_rate                   177 non-null float64
E_NOHSDP_rate                  177 non-null float64
E_AGE65_rate                   177 non-null float64
E_DISABL_rate                  177 non-null float64
E_SNGPNT_rate                  177 non-null float64
E_MINRTY_rate                  177 non-null float64
E_LIMENG_rate                  177 non-null float64
E_MUNIT_rate                   177 non-null float64
E_MOBILE_rate                  177 non-null float64
E_CROWD_rate                   177 non-null float64
E_NOVEH_rate                   177 non-null float64
E_GROUPQ_rate                  177 non-null float64
COPD_rate                      177 non-null float64
Coronary Heart Disease_rate    177 non-null float64
Diabetes_rate                  177 non-null float64
High Blood Pressure_rate       177 non-null float64
Obesity_rate                   177 non-null float64
Chronic Kidney Disease_rate    177 non-null float64
dtypes: float64(25), int64(1), object(3)
memory usage: 41.5+ KB

,Zip_Code,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_RATE,PERCENT_POSITIVE,Population,Log_Median_Income,E_POV_rate,E_UNEMP_rate,E_NOHSDP_rate,...,E_MOBILE_rate,E_CROWD_rate,E_NOVEH_rate,E_GROUPQ_rate,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,...,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,10810.378531,2338.201073,47425.734237,193.888079,19.102655,47645.062147,11.099865,69396.146579,14765.885229,48380.276484,...,255.239395,13718.430854,97588.995571,10018.528743,787.359610,776.305985,1527.819608,4067.548953,3497.292348,434.312640
std,578.173317,890.505867,26411.133886,105.136590,5.937915,26698.398778,0.464267,40803.708347,6934.726770,27337.127887,...,410.541113,10619.531932,105053.129958,13897.950827,269.111438,276.822385,571.269023,1449.633885,1255.200798,154.012705
min,10001.000000,582.200000,3457.770000,0.000000,7.150000,3028.000000,9.959348,8700.564972,4580.331061,1297.046902,...,0.000000,1977.401130,8511.029412,0.000000,168.578460,129.675738,259.351477,1193.016792,1400.497973,115.843504
25%,10301.000000,1654.400000,26614.420000,121.560000,15.140000,27403.000000,10.836281,40774.634517,10119.679797,29010.660183,...,63.171805,7645.786260,40363.668882,2200.887788,627.498415,640.366676,1183.466859,3298.352484,2649.125093,353.880850
50%,11109.000000,2411.110000,43030.430000,182.630000,20.150000,42653.000000,11.104702,60110.929853,13138.871275,43816.202251,...,184.160820,11480.910803,73698.638884,5781.960619,753.325239,743.746496,1498.267991,3821.449508,3373.428201,417.400347
75%,11361.000000,2962.490000,67089.290000,242.660000,24.080000,67094.000000,11.370693,93823.895536,17588.766085,64924.977167,...,306.941818,17186.210620,118268.105023,12198.408203,913.769599,869.740316,1810.191546,4577.093860,4003.672232,492.529447
max,11697.000000,4489.580000,111594.100000,660.580000,29.010000,112425.000000,12.429220,209117.612279,50673.712021,149628.363947,...,4192.090395,112906.208719,950871.862616,131408.230101,2066.574238,2399.252704,3774.965115,12654.648968,8241.769899,1335.970501

In [54]:
df3.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_RATE,PERCENT_POSITIVE,geoid,Population,Log_Median_Income,...,E_MOBILE_rate,E_CROWD_rate,E_NOVEH_rate,E_GROUPQ_rate,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate
0,10001.0,Chelsea/NoMad/West Chelsea,Manhattan,1616.94,23563.03,93.37,11.30,86000US10001,22924,11.391052,...,390.856744,13118.129471,305503.402548,23439.190368,725.750742,774.298988,1252.137062,4149.907521,3106.192200,431.894521
1,10002.0,Chinatown/Lower East Side,Manhattan,1408.37,76755.41,198.03,15.89,86000US10002,74993,10.487350,...,93.342045,11305.588522,118268.105023,7172.402758,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948
2,10003.0,East Village/Gramercy/Greenwich Village,Manhattan,860.57,53801.62,63.20,8.71,86000US10003,54682,11.627423,...,0.000000,7209.685088,150317.837680,57672.360192,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279
3,10004.0,Financial District,Manhattan,876.57,3650.61,27.39,9.22,86000US10004,3028,11.968101,...,0.000000,112906.208719,950871.862616,1941.875826,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067
4,10005.0,Financial District,Manhattan,762.26,8396.11,23.82,8.27,86000US10005,8831,12.062970,...,792.662213,28821.198052,229111.085947,18389.763334,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371

In [56]:
to_excel = df3.to_excel('covid19_zip.xlsx')

In [57]:
to_excel = df_final.to_excel('covid19_tract.xlsx')