In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

%matplotlib inline

## 1. Data Exploration

In [2]:
test = pd.read_csv ('data-by-modzcta.csv', delimiter =',') # COVID-19 cases per Zip Code, NYC Heatlh Data (2020, updated Jun 23,2020) 
income = pd.read_csv ('Income 2018.csv') # Median Income per Zip Code in NYC, U.S. Census Bureau (2014-2018)
# population = pd.read_excel ("Population.xlsx") # Population Counts per Zip Code, U.S. Census Bureau (2014-2018)
population = pd.read_csv ('Population_est.csv')
tract_zip = pd.read_excel ('TRACT_ZIP.xlsx') # Allocate Tract Census to Zip Code, HUDâ€™s Office of Policy Development and Research ZIP Code Crosswalk 
svi= pd.read_csv ('Vul.csv') # Social Vulnerability Index per Tract Census Level, Agency for Toxic Substances and Disease Registry (2018)
health = pd.read_excel ('Chronic_Health.xlsx') # Underlying health conditions, Centers of Disease Control and Prevention (2015)
hospital = pd.read_csv ('hospital.csv')
demographic = pd.read_csv ('Demographic.csv')

### 1.1 Test

In [3]:
test.head()

,MODIFIED_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774

In [4]:
print('Data shape: ', test.shape)

Data shape:  (177, 10)

In [5]:
test.info()
test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 10 columns):
MODIFIED_ZCTA        177 non-null int64
NEIGHBORHOOD_NAME    177 non-null object
BOROUGH_GROUP        177 non-null object
COVID_CASE_COUNT     177 non-null int64
COVID_CASE_RATE      177 non-null float64
POP_DENOMINATOR      177 non-null float64
COVID_DEATH_COUNT    177 non-null int64
COVID_DEATH_RATE     177 non-null float64
PERCENT_POSITIVE     177 non-null float64
TOTAL_COVID_TESTS    177 non-null int64
dtypes: float64(4), int64(4), object(2)
memory usage: 13.9+ KB

,MODIFIED_ZCTA,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,10810.378531,1145.581921,2338.201073,47425.734237,99.175141,193.888079,19.102655,5709.327684
std,578.173317,817.013106,890.505867,26411.133886,79.724582,105.136590,5.937915,3351.279829
min,10001.000000,26.000000,582.200000,3457.770000,0.000000,0.000000,7.150000,347.000000
25%,10301.000000,535.000000,1654.400000,26614.420000,38.000000,121.560000,15.140000,3157.000000
50%,11109.000000,902.000000,2411.110000,43030.430000,78.000000,182.630000,20.150000,5123.000000
75%,11361.000000,1637.000000,2962.490000,67089.290000,148.000000,242.660000,24.080000,7845.000000
max,11697.000000,4679.000000,4489.580000,111594.100000,407.000000,660.580000,29.010000,16826.000000

### 1.2 Income

In [6]:
income.head()

          geoid  Zip_Code  Median_Income
0  86000US07421      7421          92274
1  86000US10001     10001          88526
2  86000US10002     10002          35859
3  86000US10003     10003         112131
4  86000US10004     10004         157645

In [7]:
print('Data shape: ', income.shape)

Data shape:  (1646, 3)

In [8]:
income.info()
income.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 3 columns):
geoid            1646 non-null object
Zip_Code         1646 non-null int64
Median_Income    1646 non-null int64
dtypes: int64(2), object(1)
memory usage: 38.7+ KB

           Zip_Code  Median_Income
count   1646.000000    1646.000000
mean   12746.985419   70733.653098
std     1325.165010   31242.076564
min     7421.000000   15089.000000
25%    11771.250000   51173.750000
50%    12837.500000   61690.500000
75%    13783.750000   82067.250000
max    14905.000000  250001.000000

### 1.3 Population

In [9]:
population.head()

,MODZCTA,label,ZCTA,pop_est,the_geom
0,10001,"10001, 10118","10001, 10119, 10199",23072,MULTIPOLYGON (((-73.98774438827894 40.74406551...
1,10002,10002,10002,74993,MULTIPOLYGON (((-73.99750380833868 40.71407144...
2,10003,10003,10003,54682,MULTIPOLYGON (((-73.98863576728334 40.72293099...
3,10004,10004,10004,3028,MULTIPOLYGON (((-74.00826694529984 40.70771979...
4,10005,10005,"10005, 10271",8831,MULTIPOLYGON (((-74.00782636323468 40.70308666...

In [10]:
print('Data shape: ', population.shape)

Data shape:  (178, 5)

In [11]:
population.info()
population.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 5 columns):
MODZCTA     178 non-null int64
label       177 non-null object
ZCTA        178 non-null object
pop_est     178 non-null int64
the_geom    178 non-null object
dtypes: int64(2), object(3)
memory usage: 7.0+ KB

            MODZCTA        pop_est
count    178.000000     178.000000
mean   11311.438202   47436.157303
std     6709.785177   26810.297336
min    10001.000000       0.000000
25%    10301.250000   27291.500000
50%    11155.000000   42548.000000
75%    11361.750000   67080.500000
max    99999.000000  112425.000000

### 1.4 Tract_Zip

In [12]:
tract_zip.head()

        TRACT    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  1001020100  36067   1.000000   1.000000   1.000000   1.000000
1  1001020200  36067   1.000000   1.000000   1.000000   1.000000
2  1001020300  36067   1.000000   1.000000   1.000000   1.000000
3  1001020400  36066   0.979601   0.488506   0.945205   0.943742
4  1001020400  36067   0.020399   0.511494   0.054795   0.056258

In [13]:
tract_zip.info()
tract_zip.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172121 entries, 0 to 172120
Data columns (total 6 columns):
TRACT        172121 non-null int64
ZIP          172121 non-null int64
RES_RATIO    172121 non-null float64
BUS_RATIO    172121 non-null float64
OTH_RATIO    172121 non-null float64
TOT_RATIO    172121 non-null float64
dtypes: float64(4), int64(2)
memory usage: 7.9 MB

,TRACT,ZIP,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
count,1.721210e+05,172121.000000,172121.000000,172121.000000,172121.000000,172121.000000
mean,2.908298e+10,49384.923751,0.425561,0.425137,0.415179,0.426833
std,1.606759e+10,28248.936890,0.409935,0.411306,0.432812,0.406995
min,1.001020e+09,501.000000,0.000000,0.000000,0.000000,0.000020
25%,1.701900e+10,27260.000000,0.023320,0.019139,0.000000,0.028457
50%,2.909502e+10,47703.000000,0.270348,0.271186,0.200000,0.275035
75%,4.202701e+10,74538.000000,0.950839,0.935714,0.981982,0.940693
max,7.803096e+10,99929.000000,1.000000,1.000000,1.000000,1.000000

### 1.5 SVI

In [14]:
svi.head()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,36,NEW YORK,NY,36001,Albany,36001000100,"Census Tract 1, Albany County, New York",0.914079,2022,218,...,0,0,0,0,2,128,57,6.3,2.8,3031
1,36,NEW YORK,NY,36001,Albany,36001000200,"Census Tract 2, Albany County, New York",0.797363,4700,690,...,0,0,0,0,2,595,362,12.7,7.4,4806
2,36,NEW YORK,NY,36001,Albany,36001000300,"Census Tract 3, Albany County, New York",2.227566,5966,741,...,0,0,0,0,0,507,345,8.8,6.2,14210
3,36,NEW YORK,NY,36001,Albany,36001000401,"Census Tract 4.01, Albany County, New York",3.500329,2479,263,...,0,0,1,1,3,119,91,5.9,4.5,9449
4,36,NEW YORK,NY,36001,Albany,36001000403,"Census Tract 4.03, Albany County, New York",1.211858,4236,365,...,0,0,0,0,0,133,104,3.1,2.5,11514

In [15]:
print('Data shape: ', svi.shape)

Data shape:  (4906, 124)

In [16]:
svi.info()
svi.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Columns: 124 entries, ST to E_DAYPOP
dtypes: float64(56), int64(64), object(4)
memory usage: 4.6+ MB

,ST,STCNTY,FIPS,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,M_HU,E_HH,M_HH,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
count,4906.0,4906.000000,4.906000e+03,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,...,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000,4906.000000
mean,36.0,36061.508765,3.606163e+10,9.605263,3998.869344,351.565634,1689.173869,72.625764,1491.344680,99.151855,...,-11.101101,-15.988993,-11.102120,-15.601508,-15.856095,255.843457,130.331839,-6.380330,-9.334896,3235.423971
std,0.0,31.473219,3.149186e+07,33.011019,1953.468080,201.703026,929.042055,44.893470,819.963198,54.056149,...,105.202053,125.770489,105.201941,125.821826,130.572782,253.306426,98.318743,113.332141,112.970727,2928.504477
min,36.0,36001.000000,3.600100e+10,0.000000,0.000000,3.000000,0.000000,3.000000,0.000000,3.000000,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,0.000000,3.000000,-999.000000,-999.000000,-999.000000
25%,36.0,36047.000000,3.604702e+10,0.076284,2608.500000,225.000000,1101.250000,42.000000,958.000000,65.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,98.000000,63.250000,3.000000,1.900000,1597.000000
50%,36.0,36061.000000,3.606101e+10,0.428806,3766.000000,316.000000,1570.500000,62.000000,1392.000000,90.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,185.000000,104.000000,5.300000,3.000000,2513.500000
75%,36.0,36081.000000,3.608110e+10,2.288182,5090.750000,448.000000,2127.000000,92.000000,1888.750000,121.000000,...,0.000000,0.000000,0.000000,1.000000,2.000000,319.000000,168.000000,8.600000,4.300000,3977.250000
max,36.0,36123.000000,3.612315e+10,705.914117,28272.000000,2017.000000,13028.000000,384.000000,12827.000000,656.000000,...,1.000000,1.000000,1.000000,4.000000,11.000000,3135.000000,1195.000000,53.200000,100.000000,56670.000000

### 1.6 Health

In [17]:
health.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36047084600,Stroke among adults aged >=18 Years,%,...,4.8,NaN,NaN,1963,"(40.6422850405, -73.9274549269)",HLTHOUT,STROKE,3651000,3.604708e+10,Stroke
1,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36085013204,Arthritis among adults aged >=18 Years,%,...,28.5,NaN,NaN,4843,"(40.5594209197, -74.1302415981)",HLTHOUT,ARTHRITIS,3651000,3.608501e+10,Arthritis
2,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36081064102,Arthritis among adults aged >=18 Years,%,...,31.2,NaN,NaN,113,"(40.7021026632, -73.8534755061)",HLTHOUT,ARTHRITIS,3651000,3.608106e+10,Arthritis
3,2017,NY,New York,New York,Census Tract,BRFSS,Health Outcomes,3651000-36005006300,High blood pressure among adults aged >=18 Years,%,...,33.6,NaN,NaN,5280,"(40.8238904859, -73.9282929536)",HLTHOUT,BPHIGH,3651000,3.600501e+10,High Blood Pressure
4,2017,NY,New York,New York,Census Tract,BRFSS,Unhealthy Behaviors,3651000-36085017009,Binge drinking among adults aged >=18 Years,%,...,20.6,NaN,NaN,4299,"(40.5432028659, -74.1898281432)",UNHBEH,BINGE,3651000,3.608502e+10,Binge Drinking

In [18]:
print('Data shape: ', health.shape)

Data shape:  (59911, 24)

In [19]:
health.info()
health.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59911 entries, 0 to 59910
Data columns (total 24 columns):
Year                          59911 non-null int64
StateAbbr                     59911 non-null object
StateDesc                     59911 non-null object
CityName                      59911 non-null object
GeographicLevel               59911 non-null object
DataSource                    59911 non-null object
Category                      59911 non-null object
UniqueID                      59911 non-null object
Measure                       59911 non-null object
Data_Value_Unit               59911 non-null object
DataValueTypeID               59911 non-null object
Data_Value_Type               59911 non-null object
Data_Value                    59320 non-null float64
Low_Confidence_Limit          59320 non-null float64
High_Confidence_Limit         59320 non-null float64
Data_Value_Footnote_Symbol    591 non-null object
Data_Value_Footnote           591 non-null object
PopulationCount               59911 non-null int64
GeoLocation                   59911 non-null object
CategoryID                    59911 non-null object
MeasureId                     59911 non-null object
CityFIPS                      59911 non-null int64
TractFIPS                     59855 non-null float64
Short_Question_Text           59911 non-null object
dtypes: float64(4), int64(3), object(17)
memory usage: 11.0+ MB

,Year,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount,CityFIPS,TractFIPS
count,59911.000000,59320.000000,59320.000000,59320.000000,5.991100e+04,59911.0,5.985500e+04
mean,2016.715044,31.448667,29.779585,33.136017,1.146215e+04,3651000.0,3.605465e+10
std,0.451397,26.869856,26.495198,27.205392,2.497175e+05,0.0,2.593890e+07
min,2016.000000,0.600000,0.500000,0.600000,1.000000e+00,3651000.0,3.600500e+10
25%,2016.000000,10.400000,9.000000,11.700000,2.303000e+03,3651000.0,3.604703e+10
50%,2017.000000,21.400000,19.100000,23.800000,3.461000e+03,3651000.0,3.604712e+10
75%,2017.000000,47.000000,44.600000,49.400000,4.864000e+03,3651000.0,3.608103e+10
max,2017.000000,94.700000,93.700000,95.600000,8.175133e+06,3651000.0,3.608503e+10

## 1.7 Hospital

In [20]:
hospital.head()

,extract_date,date,mod_zcta,total_ed_visits,ili_pne_visits,ili_pne_admissions
0,05/14/2020,03/12/2020,11412,46,4,0
1,05/14/2020,03/15/2020,11369,46,8,1
2,05/14/2020,05/04/2020,11225,35,3,2
3,05/14/2020,03/19/2020,11209,55,12,2
4,05/14/2020,05/11/2020,10014,4,0,0

In [21]:
print('Data shape: ', hospital.shape)

Data shape:  (931188, 6)

In [22]:
hospital.info()
hospital.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 931188 entries, 0 to 931187
Data columns (total 6 columns):
extract_date          931188 non-null object
date                  931188 non-null object
mod_zcta              931188 non-null int64
total_ed_visits       931188 non-null int64
ili_pne_visits        931188 non-null int64
ili_pne_admissions    931188 non-null int64
dtypes: int64(4), object(2)
memory usage: 42.6+ MB

            mod_zcta  total_ed_visits  ili_pne_visits  ili_pne_admissions
count  931188.000000    931188.000000   931188.000000       931188.000000
mean    10813.776082        38.506510        5.849194            1.925564
std       574.935857        35.868799        8.791315            3.304040
min     10000.000000         1.000000        0.000000            0.000000
25%     10302.000000        14.000000        1.000000            0.000000
50%     11201.000000        28.000000        3.000000            1.000000
75%     11361.000000        52.000000        7.000000            2.000000
max     11697.000000       274.000000      173.000000           51.000000

## 1.8 Demographic

In [23]:
demographic.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [24]:
print('Data shape: ', demographic.shape)

Data shape:  (236, 46)

In [25]:
demographic.info()
demographic.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 46 columns):
JURISDICTION NAME                      236 non-null int64
COUNT PARTICIPANTS                     236 non-null int64
COUNT FEMALE                           236 non-null int64
PERCENT FEMALE                         236 non-null float64
COUNT MALE                             236 non-null int64
PERCENT MALE                           236 non-null float64
COUNT GENDER UNKNOWN                   236 non-null int64
PERCENT GENDER UNKNOWN                 236 non-null int64
COUNT GENDER TOTAL                     236 non-null int64
PERCENT GENDER TOTAL                   236 non-null int64
COUNT PACIFIC ISLANDER                 236 non-null int64
PERCENT PACIFIC ISLANDER               236 non-null float64
COUNT HISPANIC LATINO                  236 non-null int64
PERCENT HISPANIC LATINO                236 non-null float64
COUNT AMERICAN INDIAN                  236 non-null int64
PERCENT AMERICAN INDIAN                236 non-null float64
COUNT ASIAN NON HISPANIC               236 non-null int64
PERCENT ASIAN NON HISPANIC             236 non-null float64
COUNT WHITE NON HISPANIC               236 non-null int64
PERCENT WHITE NON HISPANIC             236 non-null float64
COUNT BLACK NON HISPANIC               236 non-null int64
PERCENT BLACK NON HISPANIC             236 non-null float64
COUNT OTHER ETHNICITY                  236 non-null int64
PERCENT OTHER ETHNICITY                236 non-null float64
COUNT ETHNICITY UNKNOWN                236 non-null int64
PERCENT ETHNICITY UNKNOWN              236 non-null float64
COUNT ETHNICITY TOTAL                  236 non-null int64
PERCENT ETHNICITY TOTAL                236 non-null int64
COUNT PERMANENT RESIDENT ALIEN         236 non-null int64
PERCENT PERMANENT RESIDENT ALIEN       236 non-null float64
COUNT US CITIZEN                       236 non-null int64
PERCENT US CITIZEN                     236 non-null float64
COUNT OTHER CITIZEN STATUS             236 non-null int64
PERCENT OTHER CITIZEN STATUS           236 non-null float64
COUNT CITIZEN STATUS UNKNOWN           236 non-null int64
PERCENT CITIZEN STATUS UNKNOWN         236 non-null int64
COUNT CITIZEN STATUS TOTAL             236 non-null int64
PERCENT CITIZEN STATUS TOTAL           236 non-null int64
COUNT RECEIVES PUBLIC ASSISTANCE       236 non-null int64
PERCENT RECEIVES PUBLIC ASSISTANCE     236 non-null float64
COUNT NRECEIVES PUBLIC ASSISTANCE      236 non-null int64
PERCENT NRECEIVES PUBLIC ASSISTANCE    236 non-null float64
COUNT PUBLIC ASSISTANCE UNKNOWN        236 non-null int64
PERCENT PUBLIC ASSISTANCE UNKNOWN      236 non-null int64
COUNT PUBLIC ASSISTANCE TOTAL          236 non-null int64
PERCENT PUBLIC ASSISTANCE TOTAL        236 non-null int64
dtypes: float64(15), int64(31)
memory usage: 84.9 KB

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
count,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.0,236.0,236.000000,236.000000,...,236.000000,236.000000,236.000000,236.000000,236.000000,236.000000,236.0,236.0,236.000000,236.000000
mean,11127.173729,17.661017,10.296610,0.243983,7.364407,0.201017,0.0,0.0,17.661017,44.491525,...,17.661017,44.487288,5.974576,0.139195,11.686441,0.305805,0.0,0.0,17.661017,44.491525
std,1052.431790,43.279737,28.189121,0.333677,18.880888,0.295731,0.0,0.0,43.279737,49.801264,...,43.279737,49.796563,16.803729,0.227979,29.369458,0.380602,0.0,0.0,43.279737,49.801264
min,10001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,10451.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
50%,11216.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
75%,11422.250000,13.000000,6.000000,0.515000,4.000000,0.400000,0.0,0.0,13.000000,100.000000,...,13.000000,100.000000,3.250000,0.252500,8.000000,0.662500,0.0,0.0,13.000000,100.000000
max,20459.000000,272.000000,194.000000,1.000000,157.000000,1.000000,0.0,0.0,272.000000,100.000000,...,272.000000,100.000000,155.000000,1.000000,206.000000,1.000000,0.0,0.0,272.000000,100.000000

## 2. Data Preparation

In [26]:
# Prepare Test Data
# Rename MODIFIED_ZCTA column to Zip_Code in Test file
test = test.rename(columns={'MODIFIED_ZCTA': 'Zip_Code'})

In [27]:
test.columns

Index(['Zip_Code', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP', 'COVID_CASE_COUNT',
       'COVID_CASE_RATE', 'POP_DENOMINATOR', 'COVID_DEATH_COUNT',
       'COVID_DEATH_RATE', 'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS'],
      dtype='object')

In [28]:
# Merge Test and Income files
df_merge = pd.merge(test, income, on='Zip_Code')
df_merge.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333

In [29]:
# #Convert Zip_Code type from object to integer in Population file
# convert_dict = {'Zip_Code': float, 
#                } 
  
# population = population.astype(convert_dict) 
# print(population.dtypes) 

# Prepare Population file
# Rename columns for Population and Drop columns

population = population.rename(columns={'MODZCTA': 'Zip_Code'})
population = population.drop(['label','ZCTA','the_geom'], axis=1)

In [30]:
# Merge Population file with Merge file 
df_merge = pd.merge (df_merge, population, on='Zip_Code')

In [31]:
df_merge.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,pop_est
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526,23072
1,10002,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859,74993
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131,54682
3,10004,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645,3028
4,10005,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333,8831

In [32]:
# Rename ZIP Column to Zip_Code in Tract_Zip file
tract_zip = tract_zip.rename(columns={'ZIP': 'Zip_Code'})

In [33]:
# Merge Tract_Zip file with Merge file
df = pd.merge(df_merge, tract_zip[['TRACT','Zip_Code']], on= 'Zip_Code', how= 'left')
df.head(10)

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,pop_est,TRACT
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061005600
1,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061005800
2,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061007100
3,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061007600
4,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061008400
5,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061009100
6,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061009300
7,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061009500
8,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061009700
9,10001,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.3,3372,86000US10001,88526,23072,36061009900

In [34]:
# Rename FIPS column to TRACT in SVI file
svi = svi.rename(columns={'FIPS': 'TRACT'})

In [35]:
# Merge SVI file with Merge file
df_final = pd.merge(df, svi[['TRACT','E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65','E_DISABL','E_SNGPNT','E_MINRTY','E_LIMENG','E_MUNIT'
,'E_MOBILE'
,'E_CROWD'
,'E_NOVEH'
,'E_GROUPQ'
]], on= 'TRACT', how= 'left')

In [36]:
# Prepare data for Health file
health_pivot= health.pivot(columns='Short_Question_Text', values = 'Data_Value')

In [37]:
health_pivot1 = health_pivot[['COPD','Coronary Heart Disease','Diabetes','High Blood Pressure','Obesity','Chronic Kidney Disease']]

In [38]:
health1 = health[['PopulationCount',
       'GeoLocation','CityFIPS', 'TractFIPS',
       'Short_Question_Text']]

In [39]:
health_sorted = pd.merge(health1, health_pivot1, left_index=True, right_index=True)

In [40]:
health_sorted.head()

,PopulationCount,GeoLocation,CityFIPS,TractFIPS,Short_Question_Text,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,Chronic Kidney Disease
0,1963,"(40.6422850405, -73.9274549269)",3651000,3.604708e+10,Stroke,NaN,NaN,NaN,NaN,NaN,NaN
1,4843,"(40.5594209197, -74.1302415981)",3651000,3.608501e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,NaN
2,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,NaN
3,5280,"(40.8238904859, -73.9282929536)",3651000,3.600501e+10,High Blood Pressure,NaN,NaN,NaN,32.5,NaN,NaN
4,4299,"(40.5432028659, -74.1898281432)",3651000,3.608502e+10,Binge Drinking,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Convert % data to count in Health file
chronic_heatlh = ['COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease']

for i in chronic_heatlh:
    count_i = 'count' + i
    health_sorted[count_i] = (health_sorted['PopulationCount']*health_sorted[i]) / 100

In [42]:
# Rename FIPS column to TRACT in Health file
health_sorted = health_sorted.rename(columns={'TractFIPS': 'TRACT'})

In [43]:
# Merge All DATA based on Tract Census
df_final = pd.merge(health_sorted,df_final,on='TRACT', how='left')

In [44]:
df_final.head()

,PopulationCount,GeoLocation,CityFIPS,TRACT,Short_Question_Text,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,...,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,E_MOBILE,E_CROWD,E_NOVEH,E_GROUPQ
0,1963,"(40.6422850405, -73.9274549269)",3651000,3.604708e+10,Stroke,NaN,NaN,NaN,NaN,NaN,...,406.0,141.0,127.0,1890.0,41.0,0.0,25.0,37.0,166.0,6.0
1,4843,"(40.5594209197, -74.1302415981)",3651000,3.608501e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,855.0,450.0,30.0,668.0,126.0,93.0,0.0,36.0,226.0,12.0
2,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,113,"(40.7021026632, -73.8534755061)",3651000,3.608106e+10,Arthritis,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5280,"(40.8238904859, -73.9282929536)",3651000,3.600501e+10,High Blood Pressure,NaN,NaN,NaN,32.5,NaN,...,412.0,913.0,325.0,4133.0,790.0,1735.0,0.0,148.0,1321.0,54.0

In [45]:
df_final.columns

Index(['PopulationCount', 'GeoLocation', 'CityFIPS', 'TRACT',
       'Short_Question_Text', 'COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease', 'countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease', 'Zip_Code', 'NEIGHBORHOOD_NAME',
       'BOROUGH_GROUP', 'COVID_CASE_COUNT', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_COUNT', 'COVID_DEATH_RATE',
       'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS', 'geoid', 'Median_Income',
       'pop_est', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ'],
      dtype='object')

In [46]:
# Group the estimates by Zip Code from SVI file
df_vul= [['E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65',
       'E_DISABL', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE',
       'E_CROWD', 'E_NOVEH', 'E_GROUPQ']]

for i in df_vul:
    sum_svi = df_final.groupby('Zip_Code')[i].sum().reset_index()

In [47]:
sum_svi.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,E_MOBILE,E_CROWD,E_NOVEH,E_GROUPQ
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,896.0,30072.0,700336.0,53732.0
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,700.0,84784.0,886928.0,53788.0
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,0.0,39424.0,821968.0,315364.0
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,0.0,34188.0,287924.0,588.0
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,700.0,25452.0,202328.0,16240.0

In [48]:
#Merge calculated estimation of SVI with Merge file
df1 = pd.merge(sum_svi, df_merge, on='Zip_Code')

In [49]:
df1.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,geoid,Median_Income,pop_est
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,381,1616.94,23563.03,22,93.37,11.30,3372,86000US10001,88526,23072
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,1081,1408.37,76755.41,152,198.03,15.89,6803,86000US10002,35859,74993
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,463,860.57,53801.62,34,63.20,8.71,5316,86000US10003,112131,54682
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,32,876.57,3650.61,1,27.39,9.22,347,86000US10004,157645,3028
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,64,762.26,8396.11,2,23.82,8.27,774,86000US10005,173333,8831

In [50]:
df1.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'pop_est'],
      dtype='object')

In [51]:
df_final.columns

Index(['PopulationCount', 'GeoLocation', 'CityFIPS', 'TRACT',
       'Short_Question_Text', 'COPD', 'Coronary Heart Disease', 'Diabetes',
       'High Blood Pressure', 'Obesity', 'Chronic Kidney Disease', 'countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease', 'Zip_Code', 'NEIGHBORHOOD_NAME',
       'BOROUGH_GROUP', 'COVID_CASE_COUNT', 'COVID_CASE_RATE',
       'POP_DENOMINATOR', 'COVID_DEATH_COUNT', 'COVID_DEATH_RATE',
       'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS', 'geoid', 'Median_Income',
       'pop_est', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ'],
      dtype='object')

In [52]:
# Group the count by Zip Code from Health file

df_chronic_heatlh = [['countCOPD',
       'countCoronary Heart Disease', 'countDiabetes',
       'countHigh Blood Pressure', 'countObesity',
       'countChronic Kidney Disease']]
for i in df_chronic_heatlh:
    sum_health = df_final.groupby('Zip_Code')[i].sum().reset_index()

In [53]:
sum_health.head()

,Zip_Code,countCOPD,countCoronary Heart Disease,countDiabetes,countHigh Blood Pressure,countObesity,countChronic Kidney Disease
0,10001.0,1663.711,1775.003,2870.399,9513.248,7120.635,990.075
1,10002.0,5561.996,6309.078,12727.287,26744.597,15356.364,3359.806
2,10003.0,2282.417,2292.698,3515.833,13022.208,10161.387,1336.878
3,10004.0,326.023,286.879,548.126,2218.680,2222.452,220.274
4,10005.0,255.042,174.924,339.448,1512.843,1829.027,156.415

In [54]:
# Rename columns in Health file
sum_health = sum_health.rename(columns={'countCOPD': 'COPD', 'countCoronary Heart Disease': 'Coronary Heart Disease',
                                       'countDiabetes': 'Diabetes', 'countHigh Blood Pressure': 'High Blood Pressure',
                                       'countObesity': 'Obesity', 'countChronic Kidney Disease': 'Chronic Kidney Disease'})

In [55]:
# Merge ALL DATA based on Zip Code level
df2 = pd.merge(df1,sum_health,on='Zip_Code', how='left')

In [56]:
df2.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,TOTAL_COVID_TESTS,geoid,Median_Income,pop_est,COPD,Coronary Heart Disease,Diabetes,High Blood Pressure,Obesity,Chronic Kidney Disease
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,3372,86000US10001,88526,23072,1663.711,1775.003,2870.399,9513.248,7120.635,990.075
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,6803,86000US10002,35859,74993,5561.996,6309.078,12727.287,26744.597,15356.364,3359.806
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,5316,86000US10003,112131,54682,2282.417,2292.698,3515.833,13022.208,10161.387,1336.878
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,347,86000US10004,157645,3028,326.023,286.879,548.126,2218.680,2222.452,220.274
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,774,86000US10005,173333,8831,255.042,174.924,339.448,1512.843,1829.027,156.415

In [57]:
# Take Log of skewered Median_Income to smooth it out
df2['Log_Median_Income'] = np.log(df2['Median_Income'])

In [59]:
# Normalize the columns for 100,000 per Zip_Code
health_svi = df2[['E_POV', 'E_UNEMP','E_NOHSDP', 'E_AGE65',
       'E_DISABL', 'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE',
       'E_CROWD', 'E_NOVEH', 'E_GROUPQ','COPD','Coronary Heart Disease','Diabetes','High Blood Pressure','Obesity','Chronic Kidney Disease']]

for i in health_svi:
    i_rate = i + "_rate"
    rate = 10000
    df2[i_rate] = rate*df2[i] / df2['pop_est']

In [60]:
df2.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,E_MOBILE_rate,E_CROWD_rate,E_NOVEH_rate,E_GROUPQ_rate,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,388.349515,13033.980583,303543.689320,23288.834951,721.095267,769.332091,1244.104976,4123.287101,3086.266904,429.124046
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,93.342045,11305.588522,118268.105023,7172.402758,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,0.000000,7209.685088,150317.837680,57672.360192,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,0.000000,112906.208719,950871.862616,1941.875826,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,792.662213,28821.198052,229111.085947,18389.763334,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371

In [61]:
df2.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'pop_est', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease', 'Log_Median_Income', 'E_POV_rate',
       'E_UNEMP_rate', 'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate',
       'E_SNGPNT_rate', 'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate',
       'E_MOBILE_rate', 'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate',
       'COPD_rate', 'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate'],
      dtype='object')

In [62]:
# Prepare data for Hospital file
hospital.columns

Index(['extract_date', 'date', 'mod_zcta', 'total_ed_visits', 'ili_pne_visits',
       'ili_pne_admissions'],
      dtype='object')

In [64]:
hospital = hospital.rename(columns={'mod_zcta': 'Zip_Code'})

In [67]:
sum_hospital = hospital.groupby('Zip_Code')['total_ed_visits', 'ili_pne_visits','ili_pne_admissions'].sum().reset_index()

In [68]:
sum_hospital.head()

   Zip_Code  total_ed_visits  ili_pne_visits  ili_pne_admissions
0     10000               56               0                   0
1     10001           178636           14897                3787
2     10002           278606           33639               14132
3     10003           154797           14366                5614
4     10004             8231             650                 135

In [69]:
# Prepare data for Demographic file
demographic.columns

Index(['JURISDICTION NAME', 'COUNT PARTICIPANTS', 'COUNT FEMALE',
       'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
       'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
       'COUNT PACIFIC ISLANDER', 'PERCENT PACIFIC ISLANDER',
       'COUNT HISPANIC LATINO', 'PERCENT HISPANIC LATINO',
       'COUNT AMERICAN INDIAN', 'PERCENT AMERICAN INDIAN',
       'COUNT ASIAN NON HISPANIC', 'PERCENT ASIAN NON HISPANIC',
       'COUNT WHITE NON HISPANIC', 'PERCENT WHITE NON HISPANIC',
       'COUNT BLACK NON HISPANIC', 'PERCENT BLACK NON HISPANIC',
       'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY',
       'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN',
       'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL',
       'COUNT PERMANENT RESIDENT ALIEN', 'PERCENT PERMANENT RESIDENT ALIEN',
       'COUNT US CITIZEN', 'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS',
       'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
       'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE',
       'PERCENT RECEIVES PUBLIC ASSISTANCE',
       'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN',
       'COUNT PUBLIC ASSISTANCE TOTAL', 'PERCENT PUBLIC ASSISTANCE TOTAL'],
      dtype='object')

In [71]:
demographic = demographic.rename(columns={'JURISDICTION NAME': 'Zip_Code'})

In [75]:
demographic = demographic.drop(['COUNT PARTICIPANTS', 'COUNT FEMALE',
       'PERCENT FEMALE', 'COUNT MALE', 'PERCENT MALE', 'COUNT GENDER UNKNOWN',
       'PERCENT GENDER UNKNOWN', 'COUNT GENDER TOTAL', 'PERCENT GENDER TOTAL',
       'COUNT PACIFIC ISLANDER', 'PERCENT PACIFIC ISLANDER',
       'COUNT HISPANIC LATINO', 'PERCENT HISPANIC LATINO',
       'COUNT AMERICAN INDIAN', 'PERCENT AMERICAN INDIAN',
       'COUNT ASIAN NON HISPANIC', 'PERCENT ASIAN NON HISPANIC',
       'COUNT WHITE NON HISPANIC', 'PERCENT WHITE NON HISPANIC',
       'COUNT BLACK NON HISPANIC', 'PERCENT BLACK NON HISPANIC',
       'COUNT OTHER ETHNICITY', 'PERCENT OTHER ETHNICITY',
       'COUNT ETHNICITY UNKNOWN', 'PERCENT ETHNICITY UNKNOWN',
       'COUNT ETHNICITY TOTAL', 'PERCENT ETHNICITY TOTAL',
       'COUNT PERMANENT RESIDENT ALIEN', 'PERCENT PERMANENT RESIDENT ALIEN',
       'COUNT US CITIZEN', 'PERCENT US CITIZEN', 'COUNT OTHER CITIZEN STATUS',
       'PERCENT OTHER CITIZEN STATUS', 'COUNT CITIZEN STATUS UNKNOWN',
       'PERCENT CITIZEN STATUS UNKNOWN', 'COUNT CITIZEN STATUS TOTAL',
       'PERCENT CITIZEN STATUS TOTAL', 'COUNT RECEIVES PUBLIC ASSISTANCE',
       'PERCENT RECEIVES PUBLIC ASSISTANCE',
       'COUNT NRECEIVES PUBLIC ASSISTANCE',
       'PERCENT NRECEIVES PUBLIC ASSISTANCE',
       'COUNT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE UNKNOWN', 'PERCENT PUBLIC ASSISTANCE TOTAL'], axis = 1)

In [97]:
hospital_demographic = pd.merge(sum_hospital,demographic,on='Zip_Code', how = 'left')

In [98]:
hospital_demographic.head()

,Zip_Code,total_ed_visits,ili_pne_visits,ili_pne_admissions,COUNT PUBLIC ASSISTANCE TOTAL
0,10000,56,0,0,NaN
1,10001,178636,14897,3787,44.0
2,10002,278606,33639,14132,35.0
3,10003,154797,14366,5614,1.0
4,10004,8231,650,135,0.0

In [103]:
df3 = pd.merge(df2,hospital_demographic,on='Zip_Code', how = 'left')

In [104]:
df3.head()

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate,total_ed_visits,ili_pne_visits,ili_pne_admissions,COUNT PUBLIC ASSISTANCE TOTAL
0,10001.0,187376.0,42924.0,74536.0,205688.0,120624.0,21756.0,602532.0,67788.0,912604.0,...,721.095267,769.332091,1244.104976,4123.287101,3086.266904,429.124046,178636,14897,3787,44.0
1,10002.0,658140.0,75348.0,603456.0,486528.0,351372.0,77756.0,1804264.0,631316.0,1028440.0,...,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948,278606,33639,14132,35.0
2,10003.0,158956.0,67368.0,54012.0,277564.0,152852.0,19320.0,590016.0,28532.0,1070580.0,...,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279,154797,14366,5614,1.0
3,10004.0,39984.0,15344.0,7308.0,33992.0,17584.0,11004.0,228844.0,5488.0,432096.0,...,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067,8231,650,135,0.0
4,10005.0,44884.0,13888.0,7952.0,12544.0,10220.0,6580.0,159908.0,3220.0,290752.0,...,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371,16171,2098,602,2.0

In [80]:
df3.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'pop_est', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease', 'Log_Median_Income', 'E_POV_rate',
       'E_UNEMP_rate', 'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate',
       'E_SNGPNT_rate', 'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate',
       'E_MOBILE_rate', 'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate',
       'COPD_rate', 'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate', 'COUNT PUBLIC ASSISTANCE TOTAL',
       'total_ed_visits', 'ili_pne_visits', 'ili_pne_admissions'],
      dtype='object')

In [105]:
df3.info()
df3.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 56 columns):
Zip_Code                         177 non-null float64
E_POV                            177 non-null float64
E_UNEMP                          177 non-null float64
E_NOHSDP                         177 non-null float64
E_AGE65                          177 non-null float64
E_DISABL                         177 non-null float64
E_SNGPNT                         177 non-null float64
E_MINRTY                         177 non-null float64
E_LIMENG                         177 non-null float64
E_MUNIT                          177 non-null float64
E_MOBILE                         177 non-null float64
E_CROWD                          177 non-null float64
E_NOVEH                          177 non-null float64
E_GROUPQ                         177 non-null float64
NEIGHBORHOOD_NAME                177 non-null object
BOROUGH_GROUP                    177 non-null object
COVID_CASE_COUNT                 177 non-null int64
COVID_CASE_RATE                  177 non-null float64
POP_DENOMINATOR                  177 non-null float64
COVID_DEATH_COUNT                177 non-null int64
COVID_DEATH_RATE                 177 non-null float64
PERCENT_POSITIVE                 177 non-null float64
TOTAL_COVID_TESTS                177 non-null int64
geoid                            177 non-null object
Median_Income                    177 non-null int64
pop_est                          177 non-null int64
COPD                             177 non-null float64
Coronary Heart Disease           177 non-null float64
Diabetes                         177 non-null float64
High Blood Pressure              177 non-null float64
Obesity                          177 non-null float64
Chronic Kidney Disease           177 non-null float64
Log_Median_Income                177 non-null float64
E_POV_rate                       177 non-null float64
E_UNEMP_rate                     177 non-null float64
E_NOHSDP_rate                    177 non-null float64
E_AGE65_rate                     177 non-null float64
E_DISABL_rate                    177 non-null float64
E_SNGPNT_rate                    177 non-null float64
E_MINRTY_rate                    177 non-null float64
E_LIMENG_rate                    177 non-null float64
E_MUNIT_rate                     177 non-null float64
E_MOBILE_rate                    177 non-null float64
E_CROWD_rate                     177 non-null float64
E_NOVEH_rate                     177 non-null float64
E_GROUPQ_rate                    177 non-null float64
COPD_rate                        177 non-null float64
Coronary Heart Disease_rate      177 non-null float64
Diabetes_rate                    177 non-null float64
High Blood Pressure_rate         177 non-null float64
Obesity_rate                     177 non-null float64
Chronic Kidney Disease_rate      177 non-null float64
total_ed_visits                  177 non-null int64
ili_pne_visits                   177 non-null int64
ili_pne_admissions               177 non-null int64
COUNT PUBLIC ASSISTANCE TOTAL    168 non-null float64
dtypes: float64(45), int64(8), object(3)
memory usage: 78.8+ KB

,Zip_Code,E_POV,E_UNEMP,E_NOHSDP,E_AGE65,E_DISABL,E_SNGPNT,E_MINRTY,E_LIMENG,E_MUNIT,...,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate,total_ed_visits,ili_pne_visits,ili_pne_admissions,COUNT PUBLIC ASSISTANCE TOTAL
count,177.000000,1.770000e+02,177.000000,1.770000e+02,177.000000,177.000000,177.000000,1.770000e+02,1.770000e+02,1.770000e+02,...,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,168.000000
mean,10810.378531,3.505355e+05,67498.740113,2.416844e+05,268156.350282,200922.338983,66551.553672,1.282578e+06,2.206298e+05,4.336624e+05,...,785.120619,773.822522,1523.201333,4054.534475,3487.964848,433.020249,202580.474576,30772.310734,10130.293785,13.238095
std,578.173317,3.029753e+05,43336.880636,2.004555e+05,142237.446207,119419.290341,59504.772857,9.132658e+05,2.477192e+05,3.602982e+05,...,268.280462,274.694832,569.273362,1439.965850,1254.532061,153.325476,161367.705966,25387.502809,8346.174407,32.190533
min,10001.000000,3.080000e+03,2128.000000,4.480000e+02,1848.000000,2128.000000,588.000000,8.316000e+03,3.080000e+02,2.800000e+02,...,168.578460,129.675738,259.351477,1193.016792,1400.497973,115.843504,5915.000000,438.000000,112.000000,0.000000
25%,10301.000000,1.229860e+05,34860.000000,9.217600e+04,173852.000000,108220.000000,23772.000000,5.772480e+05,5.826800e+04,1.053360e+05,...,623.939856,634.801229,1183.466859,3298.352484,2649.125093,353.092661,86425.000000,13152.000000,4510.000000,0.000000
50%,11109.000000,2.399600e+05,58912.000000,1.809310e+05,246988.000000,171612.000000,45360.000000,1.032612e+06,1.267280e+05,3.730720e+05,...,753.325239,743.746496,1492.593687,3817.134512,3349.508380,417.400347,158022.000000,24742.000000,8066.000000,0.000000
75%,11361.000000,5.416320e+05,94080.000000,3.520720e+05,348376.000000,280140.000000,85232.000000,1.839992e+06,2.906960e+05,6.692000e+05,...,913.541383,869.740316,1799.783924,4568.393122,4003.672232,492.307824,278606.000000,41503.000000,13921.000000,10.250000
max,11697.000000,1.354668e+06,189840.000000,1.098440e+06,767536.000000,611968.000000,285460.000000,3.815616e+06,1.231048e+06,1.338848e+06,...,2066.574238,2399.252704,3774.965115,12654.648968,8241.769899,1335.970501,743345.000000,178951.000000,56488.000000,248.000000

In [106]:
# Normalize the columns for 100,000 per Zip_Code
hospital_demographic = df3[[ 'COUNT PUBLIC ASSISTANCE TOTAL',
       'total_ed_visits', 'ili_pne_visits', 'ili_pne_admissions']]

for i in hospital_demographic:
    i_rate = i + "_rate"
    rate = 10000
    df3[i_rate] = rate*df3[i]/ df3['pop_est']

In [107]:
df3.columns

Index(['Zip_Code', 'E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL',
       'E_SNGPNT', 'E_MINRTY', 'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD',
       'E_NOVEH', 'E_GROUPQ', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP',
       'COVID_CASE_COUNT', 'COVID_CASE_RATE', 'POP_DENOMINATOR',
       'COVID_DEATH_COUNT', 'COVID_DEATH_RATE', 'PERCENT_POSITIVE',
       'TOTAL_COVID_TESTS', 'geoid', 'Median_Income', 'pop_est', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease', 'Log_Median_Income', 'E_POV_rate',
       'E_UNEMP_rate', 'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate',
       'E_SNGPNT_rate', 'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate',
       'E_MOBILE_rate', 'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate',
       'COPD_rate', 'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate', 'total_ed_visits', 'ili_pne_visits',
       'ili_pne_admissions', 'COUNT PUBLIC ASSISTANCE TOTAL',
       'COUNT PUBLIC ASSISTANCE TOTAL_rate', 'total_ed_visits_rate',
       'ili_pne_visits_rate', 'ili_pne_admissions_rate'],
      dtype='object')

In [108]:
# Drop these columns
df4 = df3.drop(['E_POV', 'E_UNEMP', 'E_NOHSDP', 'E_AGE65', 'E_DISABL', 'E_SNGPNT', 'E_MINRTY',
       'E_LIMENG', 'E_MUNIT', 'E_MOBILE', 'E_CROWD', 'E_NOVEH', 'E_GROUPQ', 'COPD',
       'Coronary Heart Disease', 'Diabetes', 'High Blood Pressure', 'Obesity',
       'Chronic Kidney Disease', 'COUNT PUBLIC ASSISTANCE TOTAL',
       'total_ed_visits', 'ili_pne_visits', 'ili_pne_admissions',], axis=1)

In [109]:
df4.columns

Index(['Zip_Code', 'NEIGHBORHOOD_NAME', 'BOROUGH_GROUP', 'COVID_CASE_COUNT',
       'COVID_CASE_RATE', 'POP_DENOMINATOR', 'COVID_DEATH_COUNT',
       'COVID_DEATH_RATE', 'PERCENT_POSITIVE', 'TOTAL_COVID_TESTS', 'geoid',
       'Median_Income', 'pop_est', 'Log_Median_Income', 'E_POV_rate',
       'E_UNEMP_rate', 'E_NOHSDP_rate', 'E_AGE65_rate', 'E_DISABL_rate',
       'E_SNGPNT_rate', 'E_MINRTY_rate', 'E_LIMENG_rate', 'E_MUNIT_rate',
       'E_MOBILE_rate', 'E_CROWD_rate', 'E_NOVEH_rate', 'E_GROUPQ_rate',
       'COPD_rate', 'Coronary Heart Disease_rate', 'Diabetes_rate',
       'High Blood Pressure_rate', 'Obesity_rate',
       'Chronic Kidney Disease_rate', 'COUNT PUBLIC ASSISTANCE TOTAL_rate',
       'total_ed_visits_rate', 'ili_pne_visits_rate',
       'ili_pne_admissions_rate'],
      dtype='object')

In [110]:
df4.info()
df4.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 37 columns):
Zip_Code                              177 non-null float64
NEIGHBORHOOD_NAME                     177 non-null object
BOROUGH_GROUP                         177 non-null object
COVID_CASE_COUNT                      177 non-null int64
COVID_CASE_RATE                       177 non-null float64
POP_DENOMINATOR                       177 non-null float64
COVID_DEATH_COUNT                     177 non-null int64
COVID_DEATH_RATE                      177 non-null float64
PERCENT_POSITIVE                      177 non-null float64
TOTAL_COVID_TESTS                     177 non-null int64
geoid                                 177 non-null object
Median_Income                         177 non-null int64
pop_est                               177 non-null int64
Log_Median_Income                     177 non-null float64
E_POV_rate                            177 non-null float64
E_UNEMP_rate                          177 non-null float64
E_NOHSDP_rate                         177 non-null float64
E_AGE65_rate                          177 non-null float64
E_DISABL_rate                         177 non-null float64
E_SNGPNT_rate                         177 non-null float64
E_MINRTY_rate                         177 non-null float64
E_LIMENG_rate                         177 non-null float64
E_MUNIT_rate                          177 non-null float64
E_MOBILE_rate                         177 non-null float64
E_CROWD_rate                          177 non-null float64
E_NOVEH_rate                          177 non-null float64
E_GROUPQ_rate                         177 non-null float64
COPD_rate                             177 non-null float64
Coronary Heart Disease_rate           177 non-null float64
Diabetes_rate                         177 non-null float64
High Blood Pressure_rate              177 non-null float64
Obesity_rate                          177 non-null float64
Chronic Kidney Disease_rate           177 non-null float64
COUNT PUBLIC ASSISTANCE TOTAL_rate    168 non-null float64
total_ed_visits_rate                  177 non-null float64
ili_pne_visits_rate                   177 non-null float64
ili_pne_admissions_rate               177 non-null float64
dtypes: float64(29), int64(5), object(3)
memory usage: 52.5+ KB

,Zip_Code,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,Median_Income,pop_est,...,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate,COUNT PUBLIC ASSISTANCE TOTAL_rate,total_ed_visits_rate,ili_pne_visits_rate,ili_pne_admissions_rate
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,...,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,168.000000,177.000000,177.000000,177.000000
mean,10810.378531,1145.581921,2338.201073,47425.734237,99.175141,193.888079,19.102655,5709.327684,73674.022599,47704.158192,...,785.120619,773.822522,1523.201333,4054.534475,3487.964848,433.020249,2.383632,39501.756302,5977.433059,1981.520020
std,578.173317,817.013106,890.505867,26411.133886,79.724582,105.136590,5.937915,3351.279829,36534.018798,26646.175926,...,268.280462,274.694832,569.273362,1439.965850,1254.532061,153.325476,5.242893,18745.189125,2776.645860,969.256709
min,10001.000000,26.000000,582.200000,3457.770000,0.000000,0.000000,7.150000,347.000000,21149.000000,3028.000000,...,168.578460,129.675738,259.351477,1193.016792,1400.497973,115.843504,0.000000,9127.975129,775.788576,220.588235
25%,10301.000000,535.000000,1654.400000,26614.420000,38.000000,121.560000,15.140000,3157.000000,50832.000000,27428.000000,...,623.939856,634.801229,1183.466859,3298.352484,2649.125093,353.092661,0.000000,25322.542081,3790.259878,1266.812430
50%,11109.000000,902.000000,2411.110000,43030.430000,78.000000,182.630000,20.150000,5123.000000,66483.000000,42653.000000,...,753.325239,743.746496,1492.593687,3817.134512,3349.508380,417.400347,0.000000,37014.649682,5998.016980,1928.557766
75%,11361.000000,1637.000000,2962.490000,67089.290000,148.000000,242.660000,24.080000,7845.000000,86742.000000,67094.000000,...,913.541383,869.740316,1799.783924,4568.393122,4003.672232,492.307824,1.863861,52316.079489,8120.302439,2472.124716
max,11697.000000,4679.000000,4489.580000,111594.100000,407.000000,660.580000,29.010000,16826.000000,250001.000000,112425.000000,...,2066.574238,2399.252704,3774.965115,12654.648968,8241.769899,1335.970501,33.829499,108125.507092,15917.367134,6084.264573

In [111]:
df4.head()

,Zip_Code,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS,...,COPD_rate,Coronary Heart Disease_rate,Diabetes_rate,High Blood Pressure_rate,Obesity_rate,Chronic Kidney Disease_rate,COUNT PUBLIC ASSISTANCE TOTAL_rate,total_ed_visits_rate,ili_pne_visits_rate,ili_pne_admissions_rate
0,10001.0,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,...,721.095267,769.332091,1244.104976,4123.287101,3086.266904,429.124046,19.070735,77425.450763,6456.744105,1641.383495
1,10002.0,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,...,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948,4.667102,37150.934087,4485.618658,1884.442548
2,10003.0,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,...,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279,0.182876,28308.584178,2627.189935,1026.663253
3,10004.0,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,...,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067,0.000000,27182.959049,2146.631440,445.838838
4,10005.0,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,...,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371,2.264749,18311.629487,2375.721889,681.689503

In [112]:
df4.columns = map(str.lower, df4.columns)

In [113]:
df4.head()

,zip_code,neighborhood_name,borough_group,covid_case_count,covid_case_rate,pop_denominator,covid_death_count,covid_death_rate,percent_positive,total_covid_tests,...,copd_rate,coronary heart disease_rate,diabetes_rate,high blood pressure_rate,obesity_rate,chronic kidney disease_rate,count public assistance total_rate,total_ed_visits_rate,ili_pne_visits_rate,ili_pne_admissions_rate
0,10001.0,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,...,721.095267,769.332091,1244.104976,4123.287101,3086.266904,429.124046,19.070735,77425.450763,6456.744105,1641.383495
1,10002.0,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,...,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948,4.667102,37150.934087,4485.618658,1884.442548
2,10003.0,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,...,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279,0.182876,28308.584178,2627.189935,1026.663253
3,10004.0,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,...,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067,0.000000,27182.959049,2146.631440,445.838838
4,10005.0,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,...,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371,2.264749,18311.629487,2375.721889,681.689503

In [114]:
df4 = df4.rename(columns={'coronary heart disease_rate': 'coronary_heart_disease_rate',
       'high blood pressure_rate': 'high_blood pressure_rate', 'chronic kidney disease_rate': 'chronic_kidney_disease_rate', 'count public assistance total_rate':'public_assistance_total_rate'})

In [115]:
df4.columns

Index(['zip_code', 'neighborhood_name', 'borough_group', 'covid_case_count',
       'covid_case_rate', 'pop_denominator', 'covid_death_count',
       'covid_death_rate', 'percent_positive', 'total_covid_tests', 'geoid',
       'median_income', 'pop_est', 'log_median_income', 'e_pov_rate',
       'e_unemp_rate', 'e_nohsdp_rate', 'e_age65_rate', 'e_disabl_rate',
       'e_sngpnt_rate', 'e_minrty_rate', 'e_limeng_rate', 'e_munit_rate',
       'e_mobile_rate', 'e_crowd_rate', 'e_noveh_rate', 'e_groupq_rate',
       'copd_rate', 'coronary_heart_disease_rate', 'diabetes_rate',
       'high_blood pressure_rate', 'obesity_rate',
       'chronic_kidney_disease_rate', 'public_assistance_total_rate',
       'total_ed_visits_rate', 'ili_pne_visits_rate',
       'ili_pne_admissions_rate'],
      dtype='object')

In [120]:
df4[df4[:-4]==" "] = np.NaN
df4.fillna(-1)

,zip_code,neighborhood_name,borough_group,covid_case_count,covid_case_rate,pop_denominator,covid_death_count,covid_death_rate,percent_positive,total_covid_tests,...,copd_rate,coronary_heart_disease_rate,diabetes_rate,high_blood pressure_rate,obesity_rate,chronic_kidney_disease_rate,public_assistance_total_rate,total_ed_visits_rate,ili_pne_visits_rate,ili_pne_admissions_rate
0,10001.0,Chelsea/NoMad/West Chelsea,Manhattan,381,1616.94,23563.03,22,93.37,11.30,3372,...,721.095267,769.332091,1244.104976,4123.287101,3086.266904,429.124046,19.070735,77425.450763,6456.744105,1641.383495
1,10002.0,Chinatown/Lower East Side,Manhattan,1081,1408.37,76755.41,152,198.03,15.89,6803,...,741.668689,841.288920,1697.129999,3566.279119,2047.706319,448.015948,4.667102,37150.934087,4485.618658,1884.442548
2,10003.0,East Village/Gramercy/Greenwich Village,Manhattan,463,860.57,53801.62,34,63.20,8.71,5316,...,417.398230,419.278373,642.959841,2381.443254,1858.269083,244.482279,0.182876,28308.584178,2627.189935,1026.663253
3,10004.0,Financial District,Manhattan,32,876.57,3650.61,1,27.39,9.22,347,...,1076.694188,947.420740,1810.191546,7327.212682,7339.669749,727.457067,0.000000,27182.959049,2146.631440,445.838838
4,10005.0,Financial District,Manhattan,64,762.26,8396.11,2,23.82,8.27,774,...,288.803080,198.079493,384.382290,1713.104971,2071.143698,177.120371,2.264749,18311.629487,2375.721889,681.689503
5,10006.0,Financial District,Manhattan,26,751.93,3457.77,0,0.00,7.41,351,...,168.578460,129.675738,259.351477,1193.016792,1400.497973,116.708164,17.371164,17287.203243,1268.094962,324.261726
6,10007.0,TriBeCa,Manhattan,61,739.42,8249.73,3,36.36,7.29,837,...,1938.974797,2131.513598,3774.965115,11614.526556,8241.769899,1226.357682,1.423893,18113.341877,1475.153068,502.634202
7,10009.0,Alphabet City/East Village/Stuyvesant Town-Coo...,Manhattan,713,1213.66,58747.99,67,114.05,11.11,6419,...,616.116530,631.995166,1142.540527,3186.734743,2418.734916,366.306603,0.345274,42017.781614,4667.932672,1562.019853
8,10010.0,Flatiron/Gramercy/Kips Bay,Manhattan,272,840.24,32371.86,20,61.78,7.15,3803,...,636.848503,663.521198,1063.058701,3722.470501,2807.206641,383.745924,0.000000,18678.920842,2258.820042,849.985176
9,10011.0,Chelsea,Manhattan,532,1074.74,49500.52,37,74.75,9.67,5499,...,496.002140,538.492431,823.603186,2912.319504,2173.538794,296.995760,0.594389,23687.192899,3446.465367,990.450151
10,10012.0,Greenwich Village/SoHo,Manhattan,166,692.21,23981.20,9,37.53,7.97,2082,...,671.289138,743.091282,1206.685746,3993.089573,2734.079279,410.376319,0.000000,12860.621076,1902.951604,624.065610
11,10013.0,Hudson Square/Little Italy/SoHo/TriBeCa,Manhattan,271,933.48,29031.09,21,72.34,8.89,3047,...,550.936292,613.575185,1116.756418,3192.488767,2090.491135,339.127800,2.786583,19514.786304,1875.021770,615.834756
12,10014.0,Hudson Square/Meatpacking District/West Village,Manhattan,313,1008.27,31043.16,24,77.31,8.81,3554,...,457.589628,490.652938,738.312187,2763.500553,2142.935129,276.552150,0.000000,18916.650400,3023.618973,738.174247
13,10016.0,Kips Bay/Murray Hill/NoMad,Manhattan,727,1384.12,52524.35,50,95.19,10.75,6763,...,437.472237,450.324735,735.658774,2573.953229,1946.737372,268.230213,3.329612,70587.774448,4924.692011,1538.280745
14,10017.0,East Midtown/Murray Hill,Manhattan,145,899.10,16127.22,6,37.20,8.35,1737,...,805.601544,939.983545,1412.782735,5206.633124,3431.618885,515.286374,0.000000,20953.104234,2942.851718,767.672932
15,10018.0,Hell's Kitchen/Midtown Manhattan,Manhattan,214,2245.20,9531.44,3,31.47,11.67,1834,...,541.409105,506.012181,908.608444,3262.000619,2910.576030,337.264375,3.096934,33293.073191,2814.080727,699.907092
16,10019.0,Hell's Kitchen/Midtown Manhattan,Manhattan,623,1533.30,40631.45,44,108.29,11.17,5577,...,486.631810,532.787909,914.589616,2955.247008,2192.302359,311.032423,0.000000,44101.777910,4281.857081,1234.926664
17,10021.0,Lenox Hill/Upper East Side,Manhattan,575,1301.62,44175.61,64,144.88,10.34,5559,...,559.250027,663.279671,911.432219,3486.827004,2193.135778,352.212269,0.000000,17236.611490,2472.573840,967.434816
18,10022.0,East Midtown,Manhattan,347,1143.90,30334.80,28,92.30,9.29,3736,...,545.589076,685.281928,921.335261,3473.423614,2054.569317,347.558876,0.321285,18782.650602,2722.891566,1028.433735
19,10023.0,Lincoln Square,Manhattan,573,950.65,60274.81,52,86.27,8.67,6608,...,401.221590,466.329302,698.456475,2521.158485,1671.051814,253.738928,1.121166,18365.980620,2121.886762,885.560983
20,10024.0,Upper West Side,Manhattan,729,1271.42,57337.68,69,120.34,10.41,7006,...,538.516466,612.639955,926.574126,3206.984288,2093.020796,324.483144,0.677955,18660.192200,2534.872290,991.847596
21,10025.0,Manhattan Valley/Morningside Heights/Upper Wes...,Manhattan,1396,1511.91,92333.47,169,183.03,11.50,12141,...,490.984861,535.198104,911.632886,2724.392328,1873.113087,299.862507,2.909326,36471.849577,3754.754593,1421.151878
22,10026.0,Central Harlem (South),Manhattan,650,1665.90,39018.03,41,105.08,16.05,4050,...,643.089195,596.974824,1308.737901,3641.455936,2924.616518,381.794833,0.000000,52923.303610,6539.897874,1881.970378
23,10027.0,Central Harlem (South)/Morningside Heights/Wes...,Manhattan,1058,1662.71,63631.04,105,165.01,16.67,6348,...,617.926504,575.695297,1226.661554,3350.440292,2733.308855,367.804734,1.084464,52974.995352,5998.016980,1897.347710
24,10028.0,Upper East Side/Yorkville,Manhattan,477,970.40,49155.08,30,61.03,9.39,5078,...,579.524198,672.605193,945.005336,3600.354864,2313.497583,361.603582,0.000000,17199.799134,2182.118720,821.040738
25,10029.0,East Harlem,Manhattan,1849,2345.21,78841.52,202,256.21,19.36,9553,...,670.634697,670.315339,1406.066812,3244.462857,2649.125093,405.886026,2.512658,77758.458233,9115.544556,2961.041245
26,10030.0,Central Harlem (North),Manhattan,511,1742.72,29321.91,52,177.34,17.64,2897,...,848.732682,741.371060,1668.760792,4521.210762,3680.125159,476.617696,0.000000,69925.707784,8786.225822,2281.306472
27,10031.0,Hamilton Heights/West Harlem,Manhattan,1356,2239.22,60556.93,123,203.11,18.13,7479,...,697.602483,692.556345,1492.593687,3529.102134,2922.950344,428.505493,0.000000,48313.472964,7509.376971,1914.395725
28,10032.0,Washington Heights (South),Manhattan,1573,2558.03,61492.57,164,266.70,19.69,7987,...,773.050542,814.604911,1751.672165,3872.179914,3260.454687,492.307824,2.022906,55690.433213,10839.505789,1946.968754
29,10033.0,Washington Heights (North)/Washington Heights ...,Manhattan,1379,2328.98,59210.43,115,194.22,19.62,7030,...,605.693794,644.525475,1327.680642,2996.934085,2551.298337,383.531968,0.000000,38197.694902,8841.579009,1614.072173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,11378.0,Maspeth,Queens,761,2199.84,34593.45,67,193.68,18.93,4021,...,658.150701,633.061777,1074.757370,2951.817377,2737.610451,308.738968,0.000000,25202.661016,5868.719654,2198.556828
148,11379.0,Middle Village,Queens,823,2273.76,36195.55,88,243.12,20.01,4112,...,747.096774,735.099205,1140.416369,3313.798843,2784.688383,344.272542,0.000000,22832.950252,4982.695305,2139.177300
149,11385.0,Glendale/Ridgewood,Queens,2217,2153.89,102929.91,121,117.56,21.43,10343,...,561.085394,520.789284,967.274567,2526.763215,2610.838948,272.048127,0.000000,32036.976302,6724.982899,2449.469157
150,11411.0,Cambria Heights,Queens,694,3386.31,20494.26,37,180.54,28.30,2452,...,724.190635,749.748686,1838.698519,5118.253225,4231.214047,454.441472,0.000000,48365.026278,8552.317248,2402.771142
151,11412.0,St. Albans,Queens,1257,3194.66,39346.92,77,195.70,27.58,4558,...,756.973944,738.822414,1789.306423,4872.653105,4251.817502,451.632762,0.000000,36931.229644,5871.108975,2264.669763
152,11413.0,Laurelton/Rosedale,Queens,1336,3060.85,43647.97,69,158.08,27.59,4842,...,870.516693,838.182268,2102.724360,5906.465848,5245.725090,521.413425,0.000000,25743.703320,3790.259878,1184.883255
153,11414.0,Hamilton Beach/Howard Beach/Lindenwood,Queens,806,2851.53,28265.56,52,183.97,26.56,3035,...,910.090352,895.571033,1528.265170,4105.253089,3351.199904,434.890311,0.000000,19051.986721,3351.928540,1520.243677
154,11415.0,Kew Gardens,Queens,539,2802.29,19234.25,45,233.96,21.89,2462,...,609.206587,649.549350,1183.466859,3234.586517,2875.385608,337.591885,5.678299,28237.662606,6023.642370,2472.124716
155,11416.0,Ozone Park,Queens,725,2724.09,26614.42,51,191.63,26.33,2753,...,875.429309,839.750783,1847.399447,4118.545253,3933.943594,465.359263,0.000000,37788.755760,7563.870968,2274.285714
156,11417.0,Ozone Park,Queens,902,2884.50,31270.63,39,124.72,24.27,3717,...,1042.114511,981.093745,1955.201867,4679.937984,4237.327340,510.323237,0.000000,30023.177875,6159.989977,1900.585711
157,11418.0,Richmond Hill,Queens,1127,2957.60,38105.16,95,249.31,25.77,4374,...,757.981670,768.931381,1577.257315,3817.134512,3571.491809,414.046265,1.038502,39462.055716,8720.824571,2888.854272
158,11419.0,Richmond Hill/South Ozone Park,Queens,1226,2411.07,50848.81,86,169.13,26.23,4674,...,729.735983,658.439276,1448.062800,3272.908823,2886.167721,353.880850,0.201540,35888.185739,7053.488653,2237.695997
159,11420.0,South Ozone Park,Queens,1385,2860.64,48415.71,98,202.41,26.68,5192,...,826.906102,746.559426,1632.598734,3894.654664,3485.412980,407.422096,0.412465,32589.247046,6722.968096,2369.609602
160,11421.0,Woodhaven,Queens,1211,2869.02,42209.49,98,232.18,25.71,4711,...,627.498415,634.801229,1424.445393,3185.978001,3207.067704,357.248915,0.000000,35575.581679,8082.044778,2899.370762
161,11422.0,Rosedale,Queens,999,2962.49,33721.62,43,127.51,26.47,3774,...,638.395674,612.830871,1539.409326,4382.895705,3928.884421,381.349978,0.000000,21082.226794,3507.262639,1051.991771
162,11423.0,Hollis/Holliswood,Queens,1094,3414.36,32041.14,92,287.13,27.43,3989,...,829.515605,848.993631,1843.674522,4561.739490,3762.042675,465.405096,0.000000,37014.649682,6550.318471,1996.496815
163,11426.0,Bellerose,Queens,498,2445.58,20363.28,29,142.41,24.08,2068,...,844.581991,912.958512,1768.198644,4506.614105,3373.428201,458.564973,0.000000,19175.520408,3470.986972,1256.189606
164,11427.0,Bellerose/Hollis Hills/Holliswood,Queens,798,3437.82,23212.38,45,193.86,25.40,3142,...,876.075633,941.275950,1998.332155,4968.945376,3884.461871,498.270167,0.832051,37332.861838,5523.151808,2222.407122
165,11428.0,Queens Village,Queens,685,3544.18,19327.45,41,212.13,28.88,2372,...,1482.678430,1494.898304,3399.024249,8416.747847,7098.386074,830.091922,0.000000,38088.647050,6497.437794,2254.741402
166,11429.0,Queens Village,Queens,972,3466.93,28036.33,62,221.14,26.54,3663,...,578.603524,564.873505,1370.202958,3653.310887,3202.749528,340.578037,0.000000,37837.004405,6056.324733,2129.641284
167,11432.0,Hillcrest/Jamaica Estates/Jamaica Hills,Queens,1864,2949.58,63195.40,233,368.70,24.91,7484,...,668.562036,708.662756,1550.709716,3524.300840,2937.867468,386.665270,0.322305,52636.133628,9264.660854,3289.284966
168,11433.0,Jamaica,Queens,969,2689.00,36035.76,76,210.90,24.95,3884,...,879.520677,817.931431,1931.788758,4744.818438,4346.723944,487.097481,0.000000,52764.942859,8432.130231,2826.331223
169,11434.0,Airport/South Jamaica/Springfield Gardens/St. ...,Queens,2137,3164.23,67536.11,164,242.83,26.27,8135,...,728.280774,691.268696,1673.616815,4500.018791,3971.401143,421.200048,0.606162,43747.745836,6379.699647,2217.642334
170,11435.0,Briarwood/Jamaica,Queens,1660,2878.75,57663.84,142,246.25,24.36,6814,...,731.595049,706.005295,1599.508230,3821.449508,3555.244536,405.394124,0.000000,42857.359687,9370.277928,3015.043173
171,11436.0,South Jamaica/South Ozone Park,Queens,535,2571.20,20807.42,38,182.63,24.99,2141,...,664.535040,607.477213,1466.425761,3865.613887,3518.065448,365.856453,0.000000,39772.376351,7893.111521,2585.047567
172,11691.0,Edgemere/Far Rockaway,Queens,2443,3772.45,64759.02,318,491.05,23.54,10380,...,709.239127,654.729037,1337.923659,3264.324530,3069.165350,360.541777,5.514651,52358.482130,9738.575730,3619.399648
173,11692.0,Arverne/Edgemere,Queens,638,3170.94,20120.24,86,427.43,20.90,3053,...,1107.606593,966.622362,2127.365061,5276.058787,5147.190224,562.720690,0.000000,51481.110952,8807.584203,3898.337383
174,11693.0,Arverne/Broad Channel,Queens,334,2697.62,12381.27,26,209.99,24.24,1378,...,745.354130,661.006270,1303.431380,3542.884898,3384.642774,355.034445,0.000000,32250.948216,4471.708337,1457.543153
175,11694.0,Belle Harbor-Neponsit/Rockaway Park,Queens,738,3625.51,20355.78,80,393.01,23.38,3157,...,628.442915,640.366676,991.330898,2932.660391,2376.093472,298.455559,0.000000,32814.929287,6159.033436,2870.188255
176,11697.0,Breezy Point,Queens,109,3081.98,3536.69,3,84.83,9.08,1200,...,702.878531,772.014124,1048.556497,3445.257062,2442.790960,345.677966,-1.000000,21327.683616,2754.237288,1618.644068

In [121]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 0 to 176
Data columns (total 37 columns):
zip_code                        177 non-null float64
neighborhood_name               177 non-null object
borough_group                   177 non-null object
covid_case_count                177 non-null int64
covid_case_rate                 177 non-null float64
pop_denominator                 177 non-null float64
covid_death_count               177 non-null int64
covid_death_rate                177 non-null float64
percent_positive                177 non-null float64
total_covid_tests               177 non-null int64
geoid                           177 non-null object
median_income                   177 non-null int64
pop_est                         177 non-null int64
log_median_income               177 non-null float64
e_pov_rate                      177 non-null float64
e_unemp_rate                    177 non-null float64
e_nohsdp_rate                   177 non-null float64
e_age65_rate                    177 non-null float64
e_disabl_rate                   177 non-null float64
e_sngpnt_rate                   177 non-null float64
e_minrty_rate                   177 non-null float64
e_limeng_rate                   177 non-null float64
e_munit_rate                    177 non-null float64
e_mobile_rate                   177 non-null float64
e_crowd_rate                    177 non-null float64
e_noveh_rate                    177 non-null float64
e_groupq_rate                   177 non-null float64
copd_rate                       177 non-null float64
coronary_heart_disease_rate     177 non-null float64
diabetes_rate                   177 non-null float64
high_blood pressure_rate        177 non-null float64
obesity_rate                    177 non-null float64
chronic_kidney_disease_rate     177 non-null float64
public_assistance_total_rate    168 non-null float64
total_ed_visits_rate            177 non-null float64
ili_pne_visits_rate             177 non-null float64
ili_pne_admissions_rate         177 non-null float64
dtypes: float64(29), int64(5), object(3)
memory usage: 57.5+ KB

In [95]:
to_excel = df4.to_excel('covid19_zip.xlsx')

In [122]:
to_csv = df4.to_csv('covid19_zip.csv')

In [ ]:
# to_excel = df_final.to_excel('covid19_tract.xlsx')